<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Your Arduino Configuration:</p>
    <pre>
#define MQTT_SERVER_ADDR  "<%= MQTT_SERVER_ADDR %>"
#define MQTT_SERVERPORT   <%= MQTT_SERVER_PORT %>
#define MQTT_USERNAME_S   "<%= MQTT_USERNAME_S %>"
#define MQTT_KEY          "<%= MQTT_KEY %>"
#define MQTT_OUT_TOPIC    "button"
#define MQTT_IN_TOPIC     "response"
	</pre>
  </body>
</html>
